.service .banner > div {
  width: 580px;
  color: #fff;
}

.service .banner .left {
  float: left;
  background: url(../images/0288362001567570900.jpg) no-repeat left top;
}
.service .banner .left > div {
  float: right;
  background: linear-gradient(to right, #3194d5, #4fb2f6);
}

.service .banner .right {
  float: right;
  background: url(../images/0420193001567571064.jpg) no-repeat left top;
}

.service .banner .right > div {
  background: linear-gradient(to right, #334da4, #3c62b3);
}

.service .banner div div {
  width: 290px;
  height: 280px;
  padding: 37px 0 0;
  box-sizing: border-box;
  text-align: center;
}

.service .banner > div h3 {
  font-size: 24px;
  line-height: 31px;
}
.service .banner > div p {
  padding: 12px 0 15px;
  font-size: 13px;
  line-height: 24px;
}
.service .banner > div a {
  color: #fff;
  display: block;
  margin: 0 auto;
  width: 140px;
  line-height: 40px;
  background: #064ca2;
  border-radius: 7px;
}

.service .btm > article {
  margin: 38px 0 0;
  width: 580px;
  position: relative;
}
.service .btm h3 {
  padding: 0 0 28px;
  font-size: 26px;
  color: #333;
}
.service .event {
  float: left;
}
.service .recom {
  float: right;
}
.service .event img {
  width: 100%;
}
.service .card_info > div {
  float: left;
}
.service .card_info .card {
  position: relative;
  font-size: 0;
}
.service .card_info .card div {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
}
.service .card_info .card div:before {
  content: "";
  position: absolute;
  left: 50%;
  height: 100%;
  width: 1px;
  background: #bfc0c2;
}

.service .card_info .card button {
  width: 50%;
  height: 45px;
  background: none;
  font-size: 15px;
  color: #666;
  cursor: pointer;
}
.service .card_info .card button span {
  margin-right: 4px;
}
.service .card_info .info {
  padding: 0 0 0 35px;
  width: 295px;
}
.service .card_info .info h4 {
  font-size: 26px;
  color: #333;
  line-height: 1;
}
.service .card_info .info p {
  padding: 36px 0 0 0;
  font-size: 18px;
  color: #666;
  letter-spacing: -0.5px;
  position: relative;
}
.service .card_info .info p:before {
  content: "";
  position: absolute;
  top: 21px;
  width: 36px;
  height: 2px;
  background: #288bcc;
}

.service .slide2 {
  border-top: 2px solid #333;
  padding: 20px 0 0;
  height: 224px;
  box-sizing: border-box;
}
.service .slide2 .control {
  position: absolute;
  left: 256px;
  bottom: 0;
  z-index: 100;
}
.service .slide2 .control button {
  width: 75px;
  height: 35px;
}
.service .slide2 .control button ~ button {
  border-left: 1px solid #ddd;
}

.btn_more {
  position: absolute;
  right: 0;
  top: 0;
  width: 136px;
  line-height: 38px;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
  font-size: 16px;
  color: #8a8a8a;
  text-align: center;
}

.btn_more:after {
  content: url(../images/sBtn_next.png);
  margin: 0 0 0 8px;
  color: black;
}
